main{
    overflow-x: hidden;
}

.hero {
    padding: 153px 0 152px 165px;
    background: url(../assets/img/home-page-hero-bg.jpg);
    background-repeat: no-repeat;

    &-box {
        display: flex;
        justify-content: flex-start;
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &-title {
        @include heading-1($White);
        width: 500px;
        margin-bottom: 40px;
    }

    &-wrap{
        position: relative;
    }
   

    &-wrap::before{
        content: "";
        background: url(../assets/svg/hero-before-img.svg);
        width:232.5px;
        height: 30px;
        position: absolute;
        left: -70%;
        top: 19%;
    }

    &-wrap::after{
        content: "";
        background: url(../assets/svg/hero-after-img.svg);
        width: 40vw;
        height: 138px;
        position: absolute;
        left: 450px;
        top: 19%;
        transform: translate(-19% -450px);
        overflow: hidden;
        background-repeat: no-repeat;
    }


    &-text {
        @include text ($White);
        width: 405px;
        margin-bottom: 40px;
    }

    &-button {
        @include button($White, $Yellow);
    }

    &-button:hover {
        @include button($White, $Yellow);
        opacity: 0.7;
    }

    &-button:active {
        @include button ($Yellow, transparent);
        border: 3px solid $Yellow;
    }
}

@media only screen and (max-width:768px){
    .hero{
        background: url("../assets/img/home-page-hero-bg-T.jpg");
        padding: 137px 98px 210px;
        &-box{
            justify-content: center;
        }

        &-wrapper{
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &-title{
            margin-bottom: 24px;
            letter-spacing: -2.5px;
        }

        &-wrap::before{
            content: "";
            width: 450px; 
            height: 138px;
            background: url("../assets/svg/hero-after-img.svg");
            left: -224px;
            top: 110%;
        }

        &-wrap::after{
            display: none;
        }

        &-text{
            width: 573px;
            margin-bottom: 32px;
        }
    }
}

@media only screen and(max-width:576px){
    .hero{
        padding: 115px auto 175px;
       

        &-title{
            width: 83vw;
            letter-spacing: -1.786px;
            font-size: 40px;
            line-height: 40px;
        }

        &-wrap::before{
            left: -300px;
        }

        
        &-text{
            width: 83vw;
            margin-bottom: 34px;

        }
    }
}

@media only screen and (max-width:460px){
    .hero{
        &-wrap::before{
            left: -360px;
        }
    }
}

@media only screen and (max-width:375px) {
.hero{
    background: url("../assets/img/home-page-hero-bg-MB.jpg");
    padding: 80px 10px 165px !important; 

    &-title{
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -1px;
    }

    &-wrap::before{
        top: 100%;
        left: -350px;
    }
}
}