.learn-more {
    margin-top: 200px;
    &-list {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 160px;
    }

    &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &-item-1::after,&-item-3::after{
        content: "";
        width: 445px;
        height: 445px;
        background: url("../../assets/svg/learn-more-list-BG.svg");
        background-repeat: no-repeat;
        position: absolute;
        right: -45%;
        z-index: -1;
    }

    &-item-2::before{
        content: "";
        width: 445px;
        height: 445px;
        background: url("../../assets/svg/learn-more-list-BG.svg");
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        transform: rotate(180deg);
        left: -45%;
    }

    &-img {
        width: 445px;
        height: 445px;
        border-radius: 50%;
        position: relative;
    }

    &-img-box-1,
    &-img-box-2,
    &-img-box-3 {
        position: relative;
    }

    &-img-box-1::before {
        content: "";
        width: 740px;
        height: 150px;
        background: url("../assets/svg/learn-more-BG.svg");
        background-repeat: no-repeat;
        right: -40%;
        position: absolute;
        bottom: 0;
        z-index: 2;
    }

    &-img-box-2::before {
        content: "";
        width: 740px;
        height: 150px;
        background: url("../assets/svg/learn-more-BG.svg");
        background-repeat: no-repeat;
        transform: rotate(180deg);
        transform: rotateY(180deg);
        right: 60%;
        position: absolute;
        top: 0;
        z-index: 2;
    }

    &-img-box-3::before {
        content: "";
        width: 740px;
        height: 150px;
        background: url("../assets/svg/learn-more-BG.svg");
        background-repeat: no-repeat;
        right: -40%;
        position: absolute;
        top: 15%;
        right: -120%;
        z-index: 2;
    }

    &-info-box {
        width: 445px;
    }

    &-title {
        @include heading-2($DarkNavy);
        margin-bottom: 24px;
    }

    &-text {
        @include text($DimGrey);
        margin-bottom: 40px;
    }

    &-link {
        @include button ($White, $Yellow)
    }

    &-link:hover {
        @include button($White, $Yellow);
        opacity: 0.7;
    }

    &-link:active {
        @include button ($Yellow, transparent);
        border: 3px solid $Yellow;
    }
}

@media only screen and (max-width:980px){
    .learn-more{
        margin-top: 145px;

        &-list{
            gap: 120px;
        }

        &-item{
            flex-direction: column;
            gap: 56px 0;
        }

        &-item-1,&-item-3{
            flex-direction: column-reverse;
        }

        &-item-1::after,&-item-3::after{
            top: 0;
            right: -45%;
        }
    
        &-item-2::before{
            right: 0;
            left: -45%;
        }

        &-info-box{
            display: flex;
            flex-direction: column;
            gap: 40px;
            align-items: center;
            
        }

        &-title,&-text{
            margin-bottom: 0;
            text-align: center;
        }
    }
}

@media only screen and (max-width:768px){
    .learn-more{
        
        &-item-1::after,&-item-2::before,&-item-3::after{
            display: none;
        }
    }
}

@media only screen and (max-width:720px){
    .learn-more{
        &-img-box-1::before {
            right: -68%;
        }

    }
}
@media only screen and (max-width:540px){
    .learn-more{
        margin-top: 120px;

        &-info-box{
            gap: 32px;
        }

        &-img{
            width: 311px;
            height: 311px;

        }
        &-title{
            font-size: 32px;
            line-height: 32px;
            letter-spacing: -1.429px;
            width: 311px;
        }

        &-text{
            width: 311px;
        }

        &-img-box-1::before {
            right: -140%;
            bottom: 0;
        }

        &-img-box-2::before {
            right: 30%;
            top: 15%;
        }
    
        &-img-box-3::before {
            top: -3%;
            right: -175%;
        }
    }
}

    
