@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.ttf");
}
@font-face {
  font-family: "Lexend Deca";
  src: url("../fonts/LexendDeca-Regular.ttf");
}
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend Deca";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

span {
  display: inline-block;
}

button {
  cursor: pointer;
}

img {
  display: inline-block;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  width: 1146px;
}

.header-box {
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left-box {
  display: flex;
  gap: 58px;
  align-items: center;
}
.header-img {
  width: 108px;
  height: 29px;
}
.header-icon {
  display: none;
}
.header-list {
  display: flex;
  gap: 32px;
}
.header-link {
  color: #939CAA;
  font-family: Lexend Deca;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.header-link:hover {
  color: #939CAA;
  font-family: Lexend Deca;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  opacity: 0.7;
}
.header-link:active {
  color: #FCB72B;
  font-family: Lexend Deca;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.header-button {
  color: #fff;
  text-align: center;
  font-family: Space Mono;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  padding: 14px 39px;
  background: #FCB72B;
  border: 3px solid transparent;
}
.header-button:hover {
  color: #fff;
  text-align: center;
  font-family: Space Mono;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  padding: 14px 39px;
  background: #FCB72B;
  border: 3px solid transparent;
  opacity: 0.7;
}
.header-button:active {
  color: #FCB72B;
  text-align: center;
  font-family: Space Mono;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  padding: 14px 39px;
  background: transparent;
  border: 3px solid transparent;
  border: 3px solid #FCB72B;
}

@media only screen and (max-width: 700px) {
  .header-left-box {
    width: 100%;
    gap: 0;
    align-items: center;
  }
  .header-img-link {
    margin: 0 auto;
  }
  .header-img {
    width: 75px;
    height: 20px;
  }
  .header-icon {
    order: -4;
    display: block;
  }
  .header-list {
    display: none;
  }
  .header-button {
    display: none;
  }
}
main {
  overflow-x: hidden;
}

.hero {
  padding: 153px 0 152px 165px;
  background: url(../assets/img/home-page-hero-bg.jpg);
  background-repeat: no-repeat;
}
.hero-box {
  display: flex;
  justify-content: flex-start;
}
.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.hero-title {
  color: #fff;
  font-family: Space Mono;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -2.5px;
  width: 500px;
  margin-bottom: 40px;
}
.hero-wrap {
  position: relative;
}
.hero-wrap::before {
  content: "";
  background: url(../assets/svg/hero-before-img.svg);
  width: 232.5px;
  height: 30px;
  position: absolute;
  left: -70%;
  top: 19%;
}
.hero-wrap::after {
  content: "";
  background: url(../assets/svg/hero-after-img.svg);
  width: 40vw;
  height: 138px;
  position: absolute;
  left: 450px;
  top: 19%;
  transform: translate(-19% -450px);
  overflow: hidden;
  background-repeat: no-repeat;
}
.hero-text {
  color: #fff;
  font-family: Lexend Deca;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  width: 405px;
  margin-bottom: 40px;
}
.hero-button {
  color: #fff;
  text-align: center;
  font-family: Space Mono;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  padding: 14px 39px;
  background: #FCB72B;
  border: 3px solid transparent;
}
.hero-button:hover {
  color: #fff;
  text-align: center;
  font-family: Space Mono;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  padding: 14px 39px;
  background: #FCB72B;
  border: 3px solid transparent;
  opacity: 0.7;
}
.hero-button:active {
  color: #FCB72B;
  text-align: center;
  font-family: Space Mono;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  padding: 14px 39px;
  background: transparent;
  border: 3px solid transparent;
  border: 3px solid #FCB72B;
}

@media only screen and (max-width: 768px) {
  .hero {
    background: url("../assets/img/home-page-hero-bg-T.jpg");
    padding: 137px 98px 210px;
  }
  .hero-box {
    justify-content: center;
  }
  .hero-wrapper {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero-title {
    margin-bottom: 24px;
    letter-spacing: -2.5px;
  }
  .hero-wrap::before {
    content: "";
    width: 450px;
    height: 138px;
    background: url("../assets/svg/hero-after-img.svg");
    left: -224px;
    top: 110%;
  }
  .hero-wrap::after {
    display: none;
  }
  .hero-text {
    width: 573px;
    margin-bottom: 32px;
  }
}
@media only screen and (max-width: 576px) {
  .hero {
    padding: 115px auto 175px;
  }
  .hero-title {
    width: 83vw;
    letter-spacing: -1.786px;
    font-size: 40px;
    line-height: 40px;
  }
  .hero-wrap::before {
    left: -300px;
  }
  .hero-text {
    width: 83vw;
    margin-bottom: 34px;
  }
}
@media only screen and (max-width: 460px) {
  .hero-wrap::before {
    left: -360px;
  }
}
@media only screen and (max-width: 375px) {
  .hero {
    background: url("../assets/img/home-page-hero-bg-MB.jpg");
    padding: 80px 10px 165px !important;
  }
  .hero-title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1px;
  }
  .hero-wrap::before {
    top: 100%;
    left: -350px;
  }
}
.card {
  margin-top: 160px;
}
.card-box {
  position: relative;
}
.card-span {
  width: 974px;
  height: 15px;
  background-color: #E5ECF4;
  position: absolute;
  top: 40.5px;
  left: -10vw;
  z-index: -1;
}
.card-list {
  display: flex;
  gap: 0 30px;
}
.card-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card-img {
  margin-bottom: 40px;
  width: 96px;
  height: 96px;
}
.card-title {
  color: #495567;
  font-family: Space Mono;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1.071px;
  margin-bottom: 27px;
}
.card-text {
  color: #939CAA;
  font-family: Lexend Deca;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  width: 350px;
}

@media only screen and (max-width: 1160px) {
  .card-span {
    width: 890px;
  }
  .card-list {
    gap: 0 20px;
  }
  .card-text {
    width: 330px;
  }
}
@media only screen and (max-width: 1050px) {
  .card-span {
    width: 800px;
  }
  .card-list {
    gap: 0 20px;
  }
  .card-text {
    width: 300px;
  }
}
@media only screen and (max-width: 980px) {
  .card {
    margin-top: 120px;
  }
  .card-box {
    display: flex;
    justify-content: center;
  }
  .card-span {
    transform: rotate(90deg);
    transform-origin: left;
    width: 650px;
    left: 8.5%;
    top: -50%;
  }
  .card-list {
    position: relative;
    flex-direction: column;
    gap: 40px 0;
    align-items: center;
    width: 640px;
  }
  .card-item {
    display: flex;
    flex-direction: row;
    gap: 0 80px;
    align-items: center;
  }
  .card-text {
    width: 450px;
  }
}
@media only screen and (max-width: 680px) {
  .card {
    margin-top: 120px;
  }
  .card-list {
    gap: 48px;
  }
  .card-span {
    display: none;
  }
  .card-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
  }
  .card-img {
    margin-bottom: 0;
  }
  .card-title {
    margin-bottom: 24px;
  }
}
@media only screen and (max-width: 500px) {
  .card-title {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.893px;
  }
  .card-text {
    width: auto;
  }
}
.learn-more {
  margin-top: 200px;
}
.learn-more-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 160px;
}
.learn-more-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.learn-more-img {
  width: 445px;
  height: 445px;
  border-radius: 50%;
  position: relative;
}
.learn-more-img-box-1, .learn-more-img-box-2, .learn-more-img-box-3 {
  position: relative;
}
.learn-more-img-box-1::before {
  content: "";
  width: 740px;
  height: 150px;
  background: url("../assets/svg/learn-more-BG.svg");
  background-repeat: no-repeat;
  right: -40%;
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.learn-more-img-box-2::before {
  content: "";
  width: 740px;
  height: 150px;
  background: url("../assets/svg/learn-more-BG.svg");
  background-repeat: no-repeat;
  transform: rotate(180deg);
  transform: rotateY(180deg);
  right: 60%;
  position: absolute;
  top: 0;
  z-index: 2;
}
.learn-more-img-box-3::before {
  content: "";
  width: 740px;
  height: 150px;
  background: url("../assets/svg/learn-more-BG.svg");
  background-repeat: no-repeat;
  right: -40%;
  position: absolute;
  top: 15%;
  right: -120%;
  z-index: 2;
}
.learn-more-info-box {
  width: 445px;
}
.learn-more-title {
  color: #495567;
  font-family: Space Mono;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2.143px;
  margin-bottom: 24px;
}
.learn-more-text {
  color: #939CAA;
  font-family: Lexend Deca;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 40px;
}
.learn-more-link {
  color: #fff;
  text-align: center;
  font-family: Space Mono;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  padding: 14px 39px;
  background: #FCB72B;
  border: 3px solid transparent;
}
.learn-more-link:hover {
  color: #fff;
  text-align: center;
  font-family: Space Mono;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  padding: 14px 39px;
  background: #FCB72B;
  border: 3px solid transparent;
  opacity: 0.7;
}
.learn-more-link:active {
  color: #FCB72B;
  text-align: center;
  font-family: Space Mono;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  padding: 14px 39px;
  background: transparent;
  border: 3px solid transparent;
  border: 3px solid #FCB72B;
}

@media only screen and (max-width: 980px) {
  .learn-more {
    margin-top: 145px;
  }
  .learn-more-list {
    gap: 120px;
  }
  .learn-more-item {
    flex-direction: column;
    gap: 56px 0;
  }
  .learn-more-item-1, .learn-more-item-3 {
    flex-direction: column-reverse;
  }
  .learn-more-info-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
  .learn-more-title, .learn-more-text {
    margin-bottom: 0;
    text-align: center;
  }
}
@media only screen and (max-width: 720px) {
  .learn-more-img-box-1::before {
    right: -68%;
  }
}
@media only screen and (max-width: 540px) {
  .learn-more {
    margin-top: 120px;
  }
  .learn-more-info-box {
    gap: 32px;
  }
  .learn-more-img {
    width: 311px;
    height: 311px;
  }
  .learn-more-title {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.429px;
    width: 311px;
  }
  .learn-more-text {
    width: 311px;
  }
  .learn-more-img-box-1::before {
    right: -140%;
    bottom: 0;
  }
  .learn-more-img-box-2::before {
    right: 30%;
    top: 15%;
  }
  .learn-more-img-box-3::before {
    top: -3%;
    right: -175%;
  }
}
.footer-top {
  margin-top: 200px;
  background: #495567;
  padding: 102px 0;
}
.footer-top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-top-title {
  color: #fff;
  font-family: Space Mono;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2.143px;
  width: 415px;
}
.footer-top-wrapper {
  display: flex;
  gap: 18px;
}
.footer-top-link {
  border: 2px solid transparent;
  border-radius: 4px;
  background: #E5ECF4;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer-top-link:active {
  opacity: 0.7;
}
.footer-top-wrap {
  display: flex;
  flex-direction: column;
}
.footer-top-link-text {
  color: #495567;
  font-family: Space Mono;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.446px;
}
.footer-top-link-title {
  color: #495567;
  font-family: Space Mono;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 120% */
  letter-spacing: -0.893px;
}

@media only screen and (max-width: 980px) {
  .footer-top {
    padding: 62px auto;
  }
  .footer-top-box {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }
}
@media only screen and (max-width: 540px) {
  .footer-top {
    padding: 88px auto;
  }
  .footer-top-title {
    font-size: 32px;
    line-height: 32px;
    width: 311px;
    letter-spacing: -1.429px;
  }
}
@media only screen and (max-width: 440px) {
  .footer-top-wrapper {
    flex-direction: column;
    gap: 8px;
  }
  .footer-top-title {
    width: 280px;
  }
}/*# sourceMappingURL=main.css.map */