@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.ttf");
}
@font-face {
  font-family: "Lexend Deca";
  src: url("../fonts/LexendDeca-Regular.ttf");
}
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend Deca";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

span {
  display: inline-block;
}

button {
  cursor: pointer;
}

img {
  display: inline-block;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  width: 1146px;
}

.header-box {
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left-box {
  display: flex;
  gap: 58px;
  align-items: center;
}
.header-img {
  width: 108px;
  height: 29px;
}
.header-icon {
  display: none;
}
.header-list {
  display: flex;
  gap: 32px;
}
.header-link {
  color: #939CAA;
  font-family: Lexend Deca;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.header-link:hover {
  color: #939CAA;
  font-family: Lexend Deca;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  opacity: 0.7;
}
.header-link:active {
  color: #FCB72B;
  font-family: Lexend Deca;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.header-button {
  color: #fff;
  text-align: center;
  font-family: Space Mono;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  padding: 14px 39px;
  background: #FCB72B;
  border: 3px solid transparent;
}
.header-button:hover {
  color: #fff;
  text-align: center;
  font-family: Space Mono;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  padding: 14px 39px;
  background: #FCB72B;
  border: 3px solid transparent;
  opacity: 0.7;
}
.header-button:active {
  color: #FCB72B;
  text-align: center;
  font-family: Space Mono;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  padding: 14px 39px;
  background: transparent;
  border: 3px solid transparent;
  border: 3px solid #FCB72B;
}

@media only screen and (max-width: 700px) {
  .header-left-box {
    width: 100%;
    gap: 0;
    align-items: center;
  }
  .header-img-link {
    margin: 0 auto;
  }
  .header-img {
    width: 75px;
    height: 20px;
  }
  .header-icon {
    order: -4;
    display: block;
  }
  .header-list {
    display: none;
  }
  .header-button {
    display: none;
  }
}
main {
  overflow-x: hidden;
}

.hero {
  padding: 153px 0 152px 165px;
  background: url(../assets/img/home-page-hero-bg.jpg);
  background-repeat: no-repeat;
}
.hero-box {
  display: flex;
  justify-content: flex-start;
}
.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.hero-title {
  color: #fff;
  font-family: Space Mono;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -2.5px;
  width: 500px;
  margin-bottom: 40px;
}
.hero-wrap {
  position: relative;
}
.hero-wrap::before {
  content: "";
  background: url(../assets/svg/hero-before-img.svg);
  width: 232.5px;
  height: 30px;
  position: absolute;
  left: -70%;
  top: 19%;
}
.hero-wrap::after {
  content: "";
  background: url(../assets/svg/hero-after-img.svg);
  width: 40vw;
  height: 138px;
  position: absolute;
  left: 450px;
  top: 19%;
  transform: translate(-19% -450px);
  overflow: hidden;
  background-repeat: no-repeat;
}
.hero-text {
  color: #fff;
  font-family: Lexend Deca;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  width: 405px;
  margin-bottom: 40px;
}
.hero-button {
  color: #fff;
  text-align: center;
  font-family: Space Mono;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  padding: 14px 39px;
  background: #FCB72B;
  border: 3px solid transparent;
}
.hero-button:hover {
  color: #fff;
  text-align: center;
  font-family: Space Mono;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  padding: 14px 39px;
  background: #FCB72B;
  border: 3px solid transparent;
  opacity: 0.7;
}
.hero-button:active {
  color: #FCB72B;
  text-align: center;
  font-family: Space Mono;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  padding: 14px 39px;
  background: transparent;
  border: 3px solid transparent;
  border: 3px solid #FCB72B;
}

@media only screen and (max-width: 768px) {
  .hero {
    background: url("../assets/img/home-page-hero-bg-T.jpg");
    padding: 137px 98px 210px;
  }
  .hero-box {
    justify-content: center;
  }
  .hero-wrapper {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero-title {
    margin-bottom: 24px;
    letter-spacing: -2.5px;
  }
  .hero-wrap::before {
    content: "";
    width: 450px;
    height: 138px;
    background: url("../assets/svg/hero-after-img.svg");
    left: -224px;
    top: 110%;
  }
  .hero-wrap::after {
    display: none;
  }
  .hero-text {
    width: 573px;
    margin-bottom: 32px;
  }
}
@media only screen and (max-width: 576px) {
  .hero {
    padding: 115px auto 175px;
  }
  .hero-title {
    width: 83vw;
    letter-spacing: -1.786px;
    font-size: 40px;
    line-height: 40px;
  }
  .hero-wrap::before {
    left: -300px;
  }
  .hero-text {
    width: 83vw;
    margin-bottom: 34px;
  }
}
@media only screen and (max-width: 460px) {
  .hero-wrap::before {
    left: -360px;
  }
}
@media only screen and (max-width: 375px) {
  .hero {
    background: url("../assets/img/home-page-hero-bg-MB.jpg");
    padding: 80px 10px 165px !important;
  }
  .hero-title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1px;
  }
  .hero-wrap::before {
    top: 100%;
    left: -350px;
  }
}
.card {
  margin-top: 160px;
}
.card-box {
  position: relative;
}
.card-span {
  width: 974px;
  height: 15px;
  background-color: #E5ECF4;
  position: absolute;
  top: 40.5px;
  left: -10vw;
  z-index: -1;
}
.card-list {
  display: flex;
  gap: 0 30px;
}
.card-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card-img {
  margin-bottom: 40px;
  width: 96px;
  height: 96px;
}
.card-title {
  color: #495567;
  font-family: Space Mono;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1.071px;
  margin-bottom: 27px;
}
.card-text {
  color: #939CAA;
  font-family: Lexend Deca;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  width: 350px;
}

@media only screen and (max-width: 1160px) {
  .card-span {
    width: 890px;
  }
  .card-list {
    gap: 0 20px;
  }
  .card-text {
    width: 330px;
  }
}
@media only screen and (max-width: 1050px) {
  .card-span {
    width: 800px;
  }
  .card-list {
    gap: 0 20px;
  }
  .card-text {
    width: 300px;
  }
}
@media only screen and (max-width: 980px) {
  .card {
    margin-top: 120px;
  }
  .card-box {
    display: flex;
    justify-content: center;
  }
  .card-span {
    transform: rotate(90deg);
    transform-origin: left;
    width: 650px;
    left: 8.5%;
    top: -50%;
  }
  .card-list {
    position: relative;
    flex-direction: column;
    gap: 40px 0;
    align-items: center;
    width: 640px;
  }
  .card-item {
    display: flex;
    flex-direction: row;
    gap: 0 80px;
    align-items: center;
  }
  .card-text {
    width: 450px;
  }
}
@media only screen and (max-width: 680px) {
  .card {
    margin-top: 120px;
  }
  .card-list {
    gap: 48px;
  }
  .card-span {
    display: none;
  }
  .card-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
  }
  .card-img {
    margin-bottom: 0;
  }
  .card-title {
    margin-bottom: 24px;
  }
}
@media only screen and (max-width: 500px) {
  .card-text {
    width: auto;
  }
}/*# sourceMappingURL=main.css.map */